<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="desktop-p8s4qqj.CUB.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-P8S4QQJ;integrated security=SSPI;initial catalog=CUB" />
        <add name="WindowsFormsApp3.Properties.Settings.CUBConnectionString"
            connectionString="Data Source=DESKTOP-P8S4QQJ;Initial Catalog=CUB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>